*{
    box-sizing: border-box;
}
.container{
    border: 2px solid red;
    padding:24px 24px 24px 24px;
    display: flex;
    justify-content: space-between ;
}
.box{
    border: 2px solid black;
    margin-bottom: 24px;
}

.box-small{
    width: 45%;
    height: 100px;
}
.box-large{
    width:45%;
  
}
.top{
    width: 50%;
}



